[Unit]
Description=Mandel Demo Fractizer Service

[Service]
Type=simple
Restart=always
User=pi
Group=pi
RestartSec=10
Environment=PATH=/usr/local/bin:/usr/bin:/bin
WorkingDirectory=/home/pi/mandeldemo
ExecStart=/usr/bin/env nodejs slave_server.js
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mandeldemo.service

[Install]
WantedBy=multi-user.target
